<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Albany, N.M</string>
		<key>image</key>
		<string>Albany.png</string>
		<key>lat</key>
		<real>42.654162</real>
		<key>lon</key>
		<real>-73.75917099999999</real>
		<key>radius</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Amarillo, Tex.</string>
		<key>image</key>
		<string>Amarillo.png</string>
		<key>lat</key>
		<real>35.217576</real>
		<key>lon</key>
		<real>-101.835129</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Dallas, Tex.</string>
		<key>image</key>
		<string>Dallas.png</string>
		<key>lat</key>
		<real>32.7688</real>
		<key>lon</key>
		<real>-96.795259</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Chicago, Ill.</string>
		<key>image</key>
		<string>chicago.png</string>
		<key>lat</key>
		<real>41.869561</real>
		<key>lon</key>
		<real>-87.632661</real>
		<key>radius</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Columbus, Oh</string>
		<key>image</key>
		<string>columbus.png</string>
		<key>lat</key>
		<real>39.943436</real>
		<key>lon</key>
		<real>-82.981568</real>
		<key>radius</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
